.title-heading {
  color: #808080;
  font-weight: 700;
}

.project-title-heading {
  color: #808080;
  font-weight: 700;
}

.summary-info {
  display: inline-block;
  margin-right: 15px;
}

.total-container h6 {
  font-size: 0.6rem;
}

.big-money {
  font-size: 2rem;
  font-weight: 700;
}

a > .card {
  color: #000;
}

a:hover {
  text-decoration: none;
}

a > .card:hover {
  background-color: #eee;
}

.commitments-table-container {
  overflow-x: scroll;
}
