.title-heading {
  color: #808080;
  font-weight: 700;
}

.project-title-heading {
  color: #808080;
  font-weight: 700;
}

.summary-info {
  display: inline-block;
  margin-right: 15px;
}

.total-container h6 {
  font-size: 0.6rem;
}

.big-money {
  font-size: 2rem;
  font-weight: 700;
}

a > .card {
  color: #000;
}

a:hover {
  text-decoration: none;
}

a > .card:hover {
  background-color: #eee;
}

.commitments-table-container {
  overflow-x: scroll;
}

.search-results {
  position: absolute;
  z-index: 10;
  right: 24px;
  top: 46px;
  min-width: 500px;
}

.section-header {
  background-color: #e2e2e2;
  padding: .2rem 1.25rem;
  font-weight: 800;
  font-size: 0.8rem;
}

.result-id {
  font-weight: 600;
  font-size: 0.8rem;
  margin-right: 12px;
  display: inline-block;
  min-width: 76px;
}

.no-results {
  text-align: center;
  padding: .2rem 1.25rem;
}

/* chart */

.line {
    fill: none;
    stroke-width: 3;
}

.line-total {
  stroke: #dedede;
  stroke-width: 12px;
  stroke-opacity: 0.6;
}

.line-CX, .dot-CX {
  stroke: #66c2a5;
  stroke-width: 2;
}

.line-CN, .dot-CN {
  stroke: #fc8d62;
  stroke-width: 2;
}

.line-F, .dot-F {
  stroke: #8da0cb;
  stroke-width: 2;
}

.line-S, .dot-S {
  stroke: #e78ac3;
  stroke-width: 2;
}

.line-P, .dot-P {
  stroke: #a6d854;
  stroke-width: 2;
}


.overlay {
  fill: none;
  pointer-events: all;
}

/* Style the dots by assigning a fill and stroke */
.dot {
  fill: #fff;
  stroke-width: 1px;
}

  .focus circle {
  fill: none;
  stroke: steelblue;
}

.legend-item {
  padding: 0 5px;
  font-size: 0.5rem;
}

.legend-item svg {
  min-width: 18px;
  margin-right: 5px;
}

.chart-tooltip {
  display: none;
  position: absolute;
  background-color: #f2f2f2eb;
  padding: 6px 12px;
  border-radius: 7px;
  border: 3px solid #6c6c6c24;
}

.chart-tooltip .tiny {
  font-weight: 700;
  font-size: .6rem;
}

.chart-tooltip .tooltip-item {
  text-align: right;
}

.chart-tooltip .total {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 700;
}

.chart-tooltip hr {
  margin: 0;
}

.tooltip-line {
  stroke-width: 3
}

.appropriations-legend-item {
  padding: 0 5px;
  font-size: 0.5rem;
}

.appropriations-legend-item .square {
  background-color: #fca532;
  height: 8px;
  width: 8px;
  display: inline-block;
  margin-right: 2px;
}

  rect {
  stroke: #c4c1c1;
  stroke-width: 0.4;
}

text.label {
  font-size: 0.6rem;
  fill: #4e4e4e;
}

rect.highlight {
  stroke: #373737;
  stroke-width: 3px;
}

.citywide {
  background-color: #000;
}

.manhattan {
  background-color: #66c2a5;
}

.queens {
  background-color: #fc8d62;
}

.bronx {
  background-color: #e78ac3;
}

.staten {
  background-color: #a6d854;
}
