.title-heading {
  color: #808080;
  font-weight: 700;
}

.project-title-heading {
  color: #808080;
  font-weight: 700;
}

.summary-info {
  display: inline-block;
  margin-right: 15px;
}

.total-container h6 {
  font-size: 0.6rem;
}

.big-money {
  font-size: 2rem;
  font-weight: 700;
}

a > .card {
  color: #000;
}

a:hover {
  text-decoration: none;
}

a > .card:hover {
  background-color: #eee;
}

.commitments-table-container {
  overflow-x: scroll;
}

.search-results {
  position: absolute;
  z-index: 10;
  right: 24px;
  top: 46px;
  min-width: 500px;
}

.section-header {
  background-color: #e2e2e2;
  padding: .2rem 1.25rem;
  font-weight: 800;
  font-size: 0.8rem;
}

.result-id {
  font-weight: 600;
  font-size: 0.8rem;
  margin-right: 12px;
  display: inline-block;
  min-width: 76px;
}

.no-results {
  text-align: center;
  padding: .2rem 1.25rem;
}

/* chart */

.line {
    fill: none;
    stroke-width: 3;
}

.line-total {
  stroke: #ffab00;
}

.line-city {
  stroke: green;
  stroke-width: 2;
}

.line-noncity {
  stroke: purple;
  stroke-width: 2;
}

.overlay {
  fill: none;
  pointer-events: all;
}

/* Style the dots by assigning a fill and stroke */
.dot {
    fill: #ffab00;
    stroke: #fff;
}

  .focus circle {
  fill: none;
  stroke: steelblue;
}";
